@charset "utf-8";

@import url(reset.css);
/* --- web font  --- */
@import url(britney.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

/* 
font-family: 'Britney', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Rock Salt', cursive; */

/* ------------- common  ------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--white);
  color: #333;
}

figure {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* color root */
:root {
  --white: #ecece4;
  --whitev2: #ffffff;
  --beige: #d5d5c4;
  --beigev2: #faf5eb;
  --beigev3: #f2e9cf;
  --black: #363a48;
  --blackv2: #21274a;
  --brown: #413b34;
  --grey: #acb4b8;
  --greyv2: #aaaa93;
  --darkGrey: #666e72;
  --olive: #cacab0;
  --olivev2: #bfbfa3;
  --olivev3: #8e8e65;
  --darkOlive: #626248;
}

.cursive {
  font-family: 'Rock Salt', cursive;
}

/* svg */
.scrollAni {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.svg-title {
  width: 100vw;
  z-index: 10;
  position: absolute;
}

.hidden-title {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 400;
  z-index: 2;
  opacity: 0;
}

.hidden-title span {
  display: block;
  text-align: center;
  margin-bottom: 0.2rem;
}

.hidden-bg {
  background-color: var(--black);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

/* HEADER 
========================================*/
header {
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  position: relative;
  text-align: center;
}

figure {
  height: 100vh;
}

.header__frame {
  width: 100vw;
  height: 100vh;
}

.header__frame video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__title {
  width: 100%;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--beigev2);
}

.header__title h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.32rem;
  font-weight: 500;
}

.header__title h2 {
  font-size: 1.6rem;
}

/* NAV 
======================================== */
.nav__wrap {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1.25rem;
  z-index: 9999;
}

.nav__wrap h1 {
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
}

.nav__wrap h1 .ner {
  transition: all 0.3s ease-in;
}

.nav__wrap h1:hover .ner {
  position: absolute;
  transform: translateY(5px);
}

.menuBtn {
  cursor: pointer;
  display: flex;
  outline: none;
  border: none;
  background-color: transparent;
  color: #333;
}

.menu-arrow {
  width: 1rem;
  height: 1rem;
  margin-top: 0.375rem;
  margin-right: 1rem;
}

.menuBtn:hover .menu-arrow {
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation: bounce 1s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(8px);
  }
  100% {
    transform: translateY(0);
  }
}

.menuBtn span {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.menuBtn:hover span {
  background: linear-gradient(90deg, #333, #ffffff00);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 1s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.fixed-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
}

/* F-CONTENT
======================================== */
.f-content {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 150px;
}
.in {
  opacity: 1;
}

.f-top h2 {
  font-size: 44px;
  font-weight: 500;
  letter-spacing: -1px;
}

.f-top h3 {
  font-size: 26px;
  margin: 7px 0 10px;
}

.f-middle {
  width: 100%;
  height: 320px;
  margin: 30px 0 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.middle__img {
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 260px;
  margin-right: 10px;
}

.middle__img:nth-child(2) {
  margin-right: 0;
}
.middle__img img {
  width: 100%;
}

.f-bottom {
  position: relative;
  width: 100%;
  display: inline-block;
}

.f-bottom h3 {
  font-size: 26px;
  display: inline-block;
}

.f-bottom .line {
  width: 13rem;
  height: 1px;
  position: relative;
  top: -8px;
  background-color: #000;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

/* S-CONTENT
========================================*/
.s-content {
  width: 100%;
  height: 100%;
  padding-top: 150px;
}

.s-wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  align-items: end;
}

.s-main__img {
  width: 50%;
  position: relative;
  height: auto;
  overflow: hidden;
}

.s-main__img .imgscale {
  width: 100%;
  height: 100%;
}

.s-main__text {
  width: 50%;
  padding-left: 250px;
  font-size: 3rem;
  letter-spacing: -3px;
  font-weight: 500;
  color: var(--olive);
}

.s-main__text .up {
  color: #333;
  font-size: 2rem;
  position: absolute;
  display: inline-block;
  opacity: 0;
}

.s-main__text span {
  font-size: 2rem;
  color: #333;
}

.s-image__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.s-image__list .reverse {
  flex-direction: row-reverse;
}

.s-image__list .listitem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  opacity: 1;
  height: 100%;
}

.s-image__list .item {
  width: 50%;
  position: relative;
}
.s-image__list .item .imgitem1 {
  width: 14rem;
}

.s-image__list .item .imgitem2 {
  width: 18.7rem;
}

.s-image__list .item .imgitem3 {
  width: 12rem;
}

.s-image__list .item .imgitem4 {
  width: 30rem;
}

.m1 {
  margin-left: 300px;
}
.m2 {
  margin-left: 500px;
}

.video {
  width: 420px;
}

/* T-CONTENT
========================================*/
.t-content {
  width: 100%;
  height: 100vh;
  padding-top: 150px;
}

.t-wrap {
  width: 1400px;
  margin: 0 auto;
}

.t-wrap .t-contents {
  position: relative;
}

.t-slide {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.t-content__text {
  display: flex;
  opacity: 0;
}
.t-slide:first-child .t-content__text {
  opacity: 1;
}

.t-content__text h2 {
  font-size: 7rem;
  font-weight: 700;
  color: var(--brown);
  text-transform: capitalize;
  display: inline-block;
  letter-spacing: -5px;
}

sup {
  font-size: 1.3rem;
  margin-top: 1rem;
  font-style: italic;
}
.t-content__img {
  width: 100%;
  height: 100%;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

.t-content__img .original__img {
  width: 100%;
}

/* F-CONTENT
========================================*/
.fo-content {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 150px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.f-btn {
  position: relative;
  background: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  color: #9a9888c2;
  font-size: 7rem;
  margin-bottom: 4rem;
  z-index: 99;
}

.f-btn::after {
  content: '';
  left: 0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.4s;
  width: 100%;
  background-color: #9a9888;
  height: 4px;
  top: 100%;
}

.f-btn.thin:after,
.f-btn:after {
  background-color: currentColor;
  content: '';
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.4s;
  width: 100%;
}

.f-btn.thin:after {
  height: 1px;
  top: 80%;
}
@media (min-width: 992px) {
  .f-btn:hover:after {
    transform: scaleX(1);
  }
}

.f-btn.reversed:after {
  transform: scaleX(1);
}

@media (min-width: 992px) {
  .f-btn.reversed:hover:after {
    transform: scaleX(0);
  }
}

.f-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  justify-content: space-between;
  align-items: space-between;
}

.f-images .img {
  position: relative;
  width: 230px;
  height: 150px;
  overflow: hidden;
  cursor: pointer;
  padding: 20px;
}

.img#main-img {
  transform: scale(1.25);
}

.f-images .img .hovered-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px 40px 20px 0;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
/*  */
.l-content {
  margin-top: 100px;
  position: relative;
  padding-top: 150px;
}

.l-text {
  width: 700px;
  height: 750px;
  background-color: #fff;
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--brown);
  color: var(--white);
}

.l-text .text1 {
  padding: 30px 50px 0;
  font-size: 1.7rem;
  line-height: 1.2;
}

.l-text p > em {
  font-size: 2.5rem;
  font-family: 'Britney', cursive;
  line-height: 1.3;
}

.l-text .address {
  font-size: 2.6rem;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: var(--beige);
}
/* footer */
footer {
  width: 100%;
  height: 100vh;
  background-color: var(--grey);
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.f-logo a {
  font-size: 20rem;
  color: var(--white);
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
}
footer .sns {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

footer .sns li a {
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--darkGrey);
}

.sns li:hover a {
  background: linear-gradient(90deg, #333, #ffffff00);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 1s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
